.page_body{
    margin: 0;
    font-style: san-serif;
}
.container{
    margin: 0 auto;
  max-width: 1280px;
   padding-top: 32px;
}
.navbar{
    padding-bottom: 26px;
}
.nav-menu{
    margin: 0;
    padding: 0;
}

.nav-menu-item{
    display: inline-block;
    text-align: center;
    margin-left: 70px;
   
}
.nav-menu-link{
    display: inline-block;
    color:
    #FF0000;
    font-style: bold;
    font-size: 18px;
    line-height: 18px;

}

.navbar{
    padding-left: 330px;
    padding-top: 26px;
}
a{
    text-decoration: none;
    text-transform: uppercase;
}
.caption-section{
    text-transform: uppercase;
    text-align: center;

}
.main-text{
    text-align: center;
    padding-left: 68px;
    padding-right: 68px;
    font-size: 16px;
    line-height: 22px;
}

   
.box{
    padding-left: 545px;
    padding-top: 84px;
    padding-bottom: 168px;
    /* background-color: #FF0000; */
}
.btn-start{
    padding:18px 44px;
    background-color: #FF0000;
    color:#FFFFFF;
    border-radius: 7px;
}
.footer-text{
    text-align: right;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1px;
    font-style: italic;
    padding-right: 105px;
}